<p>Nikola intends to let you do slideshows easily:</p>

<div id="slides_d60c90dcb17247ef9a660242e04c1a04" class="carousel slide">
    <ol class="carousel-indicators">
            <li data-target="#slides_d60c90dcb17247ef9a660242e04c1a04" data-slide-to="0" class="active"></li>
            <li data-target="#slides_d60c90dcb17247ef9a660242e04c1a04" data-slide-to="1"></li>
            <li data-target="#slides_d60c90dcb17247ef9a660242e04c1a04" data-slide-to="2"></li>
            <li data-target="#slides_d60c90dcb17247ef9a660242e04c1a04" data-slide-to="3"></li>
            <li data-target="#slides_d60c90dcb17247ef9a660242e04c1a04" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
                <div class="item active"><img src="/galleries/demo/tesla_conducts_lg.jpg" alt="" style="margin: 0 auto 0 auto;"></div>
                <div class="item"><img src="/galleries/demo/tesla_lightning2_lg.jpg" alt="" style="margin: 0 auto 0 auto;"></div>
                <div class="item"><img src="/galleries/demo/tesla4_lg.jpg" alt="" style="margin: 0 auto 0 auto;"></div>
                <div class="item"><img src="/galleries/demo/tesla_lightning1_lg.jpg" alt="" style="margin: 0 auto 0 auto;"></div>
                <div class="item"><img src="/galleries/demo/tesla_tower1_lg.jpg" alt="" style="margin: 0 auto 0 auto;"></div>
    </div>
    <a class="left carousel-control" href="#slides_d60c90dcb17247ef9a660242e04c1a04" data-slide="prev"><span class="icon-prev"></span></a>
    <a class="right carousel-control" href="#slides_d60c90dcb17247ef9a660242e04c1a04" data-slide="next"><span class="icon-next"></span></a>
</div>

